{% extends "AppBlog/plantilla_base.html" %}

{% load static %}

{% block titulo %}
MOdificar Publicacion
{% endblock %}

{% block formulario %}
<div class="container">
    <div class="form-group">
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                {{ form.as_table}}
            </table>
            <input type = "submit" value="Modificar">
        </form> 
    </div>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("usuario_id").value = name;
</script>
{% endblock %}