{% extends "AppBlog/plantilla_base.html" %}

{% load static %}

{% block titulo %}
<h1><center> Bienvenido al Blog de Destinos Turisticos </center></h1>
{% endblock %}
{% block formulario %}
<div class="container text-center">
    <div class="container text-center">
        <div class="text-center">
            <form id="login-form" style=" width: 50vw; margin-left : 15vw;" method="post">
                {% csrf_token %}
                <h1><center> Por favor inicia sesion para poder acceder</center></h1>
                <table class="table">
                    <tr>
                        <td><label for="id_username">Usuario</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Contraseña</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class="label label-danger">
                        Tu usuario y contraseña no coinciden 
                        Intenta nuevamente.
                    </p>
                {% endif %}

                <input type="submit" value="Login" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
    <div class="container text-center">
        <p>¿No tienes una cuenta? <a href="{% url 'Registro' %}">Registrate Aqui</a></p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}